<div class='search-encloser'>
<div class='search-flex-container'>
  <input type="text" [(ngModel)]="consumableName"
         title="{{consumable}}" autofocus="autofocus" placeholder="{{consumable}}"/>
  <input type="text" [(ngModel)]="villageOrTalukName"
         title="{{villageOrTaluk}}" placeholder="{{villageOrTaluk}}"/>
  <input type="text" [(ngModel)]="cityName"
         title="{{city}}" placeholder="{{city}}"/>
  
  <ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
  </ng-template>
  <input type="text" [(ngModel)]="stateName"
         title="{{state}}" placeholder="{{state}}" 
         [ngbTypeahead]="search" editable="true" 
         showHint="true" [resultTemplate]="rt"
         [inputFormatter]="formatter"/>
  <button type="submit" [name]="submit" 
         (click)="onSubmit()">{{submit}}</button>
</div>
</div>