.search-parent-container {
    display: flex;
    flex-direction: column;
    width: 322px;
    margin: auto;
}

.search-parent-container > input,button {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    flex-grow: 1;
    width: 300;
}

.search-parent-container input:focus {
    box-shadow: 3px transparent;
    border-color: transparent;
}